In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
#reading execel

In [3]:
data= pd.read_excel('/Users/markynsailamar/Dropbox/My Mac (Markynsaiâ€™s MacBook Pro)/Documents/UDEMY PROJECT/Blog_Sentiment_Analysis/articles.xlsx')

In [4]:
#summary of the data
data.describe()

,article_id,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
count,10437.000000,10435.000000,10319.000000,10319.000000,10319.000000,10319.000000
mean,5218.000000,0.122089,381.395290,124.032949,196.236263,0.011629
std,3013.046714,0.327404,4433.344792,965.351188,1020.680229,0.268276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2609.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,5218.000000,0.000000,1.000000,0.000000,8.000000,0.000000
75%,7827.000000,0.000000,43.000000,12.000000,47.500000,0.000000
max,10436.000000,1.000000,354132.000000,48490.000000,39422.000000,15.000000

In [31]:
#summary of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   article_id                       10437 non-null  int64
 1   source_id                        10437 non-null  object
 2   source_name                      10437 non-null  object
 3   author                           9417 non-null   object
 4   title                            10435 non-null  object
 5   description                      10413 non-null  object
 6   url                              10436 non-null  object
 7   url_to_image                     9781 non-null   object
 8   published_at                     10436 non-null  object
 9   content                          9145 non-null   object
 10  top_article                      10435 non-null  float64
 11  engagement_reaction_count        10319 non-null  float64
 12  engagement_comment_count         10319 non-null  float64
 13  engagement_share_count           10319 non-null  float64
 14  engagement_comment_plugin_count  10319 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [5]:
#counting the number of articles per source
data.groupby(['source_id'])['article_id'].count()

source_id
1                             1
abc-news                   1139
al-jazeera-english          499
bbc-news                   1242
business-insider           1048
cbs-news                    952
cnn                        1132
espn                         82
newsweek                    539
reuters                    1252
the-irish-times            1232
the-new-york-times          986
the-wall-street-journal     333
Name: article_id, dtype: int64

In [6]:
#number of reactions by publisher - using sum as we want the total reactions for each source
data.groupby(['source_id'])['engagement_reaction_count'].sum()

source_id
1                                0.0
abc-news                    343779.0
al-jazeera-english          140410.0
bbc-news                    545396.0
business-insider            216545.0
cbs-news                    459741.0
cnn                        1218206.0
espn                             0.0
newsweek                     93167.0
reuters                      16963.0
the-irish-times              26838.0
the-new-york-times          790449.0
the-wall-street-journal      84124.0
Name: engagement_reaction_count, dtype: float64

In [7]:
#dropping the column engagement_comment_plugin_count
data=data.drop('engagement_comment_plugin_count', axis=1)

In [30]:
#check titles with a keyword murder

def keywordflag(keyword):
    length = len(data)
    keyword_flag = []
    for x in range(0, length) :
        heading = data['title'][x]
        try:
            if keyword in heading:
                flag = 1
            else:
                flag = 0
        except:
            flag=0
        keyword_flag.append (flag)
    return keyword_flag
    
keywordflag = keywordflag( 'murder' )

data['keyword']=pd.Series(keywordflag)

In [10]:
#Sentiment Intensity Analyzer
sent_int= SentimentIntensityAnalyzer()
text= data['title'][15]
sent=sent_int.polarity_scores(text)

In [11]:
print(sent)

{'neg': 0.71, 'neu': 0.29, 'pos': 0.0, 'compound': -0.8689}

In [18]:
title_neg_sentiment =[]
title_pos_sentiment =[]
title_neu_sentiment =[]

length= len(data)

for x in range(0,length):
    try:
        text=data['title'][x]
        sent_int= SentimentIntensityAnalyzer()
        sent=sent_int.polarity_scores(text)
        neg=sent['neg']
        pos=sent['pos']
        neu=sent['neu']
    except:
        neg=0
        pos=0
        neu=0
    title_neg_sentiment.append(neg) 
    title_pos_sentiment.append(pos) 
    title_neu_sentiment.append(neu) 


title_neg_sentiment=pd.Series[title_neg_sentiment]
title_pos_sentiment=pd.Series[title_pos_sentiment]
title_neu_sentiment=pd.Series[title_neu_sentiment]

In [24]:
data['title_neg_sentiment']=title_neg_sentiment
data['title_pos_sentiment']=title_pos_sentiment
data['title_neu_sentiment']=title_neu_sentiment

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   article_id                 10437 non-null  int64
 1   source_id                  10437 non-null  object
 2   source_name                10437 non-null  object
 3   author                     9417 non-null   object
 4   title                      10435 non-null  object
 5   description                10413 non-null  object
 6   url                        10436 non-null  object
 7   url_to_image               9781 non-null   object
 8   published_at               10436 non-null  object
 9   content                    9145 non-null   object
 10  top_article                10435 non-null  float64
 11  engagement_reaction_count  10319 non-null  float64
 12  engagement_comment_count   10319 non-null  float64
 13  engagement_share_count     10319 non-null  float64
 14  title_neg_sentiment        10437 non-null  float64
 15  title_pos_sentiment        10437 non-null  float64
 16  title_neu_sentiment        10437 non-null  float64
dtypes: float64(7), int64(1), object(9)
memory usage: 1.4+ MB

In [33]:
#Writing data to Excel file
data.to_excel('blogme_clean.xlsx',sheet_name='blockmedata',index=False)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   article_id                 10437 non-null  int64
 1   source_id                  10437 non-null  object
 2   source_name                10437 non-null  object
 3   author                     9417 non-null   object
 4   title                      10435 non-null  object
 5   description                10413 non-null  object
 6   url                        10436 non-null  object
 7   url_to_image               9781 non-null   object
 8   published_at               10436 non-null  object
 9   content                    9145 non-null   object
 10  top_article                10435 non-null  float64
 11  engagement_reaction_count  10319 non-null  float64
 12  engagement_comment_count   10319 non-null  float64
 13  engagement_share_count     10319 non-null  float64
 14  title_neg_sentiment        10437 non-null  float64
 15  title_pos_sentiment        10437 non-null  float64
 16  title_neu_sentiment        10437 non-null  float64
 17  keyword                    10437 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 1.4+ MB